* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-white: #F9F9F9;
    --color-white-200: #EBE9EA;
    --color-gray: #474747;
    --color-black-light: #181818;

    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Montserrat', sans-serif;
}
body {
    background: var(--color-white);
}
header {
    max-width: 90rem;
    height: 7.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
main {
    max-width: 90rem;
    margin: 0 auto;
}
.header-desconto,
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-desconto {
    flex: 1;
    background: var(--color-black-light);
    font: 500 1rem/1.961875rem var(--font-text);
    color: var(--color-white);
}
.header-logo {
    flex: 1;
    font: 600 1.5rem/2.9425rem var(--font-title);
    color: var(--color-black-light);
}
.banner {
    width: 100%;
    height: 23.625rem;
    background: linear-gradient(#18181899, #18181899), url('../img/banner/banner-high-og-wmns-twist-feminino-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8.0625rem;
}

.banner-content {
    max-width: 28.75rem;
    margin-left: 6.25rem;
    color: var(--color-white);
}
.banner-title {
    font: 700 2rem/2.438125rem var(--font-title);
}
.banner-text {
    margin-top: 1.1875rem;
    font: 600 1.125rem/2.206875rem var(--font-text);
}
.products-container {
    padding: 3.625rem 6.25rem 10rem 6.25rem;
}
.products-text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.products-title {
    font: 600 2rem/3.92375rem var(--font-title);
    color: var(--color-black-light);
}
.products-text {
    font: 500 1.125rem/2.206875rem var(--font-text);
    color: var(--color-gray);
}
.products {
    margin-top: 3.6875rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.4375rem 0.8125rem;
}
.product-single {
    padding: 4.75rem 1.5625rem;
    background: var(--color-white-200);
}
.product-single img {
    max-width: 250px;
}
footer {
    max-width: 90rem;
    height: 3.75rem;
    margin: 0 auto;
    background: var(--color-black-light);
    font: 500 1.125rem/2.206875rem var(--font-text);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}