* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background-header: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    --color-background-search: #FFFFFF33;
    --color-light: #FFFFFF;
    --color-light-200: #F3F5F7;
    --color-gray: #717171;
    --color-gray-dark: #1A202C;

    --font-button: 'Lexend Deca', sans-serif;
    --font-search: 'Inter', sans-serif;
    --font-title: 'Lexend Deca', sans-serif;
    --font-text: 'Lexend Deca', sans-serif;
}
body {
    background: var(--color-light-200);
}
header {
    background: var(--color-background-header);
}
nav {
    padding: 2.5625rem 1.25rem;
    max-width: 56.25rem;
    margin: 0 auto;
}
.menu-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.menu-top-bar  a {
    text-decoration:  none;
    font: 400 1.5rem/1.875rem var(--font-button);
    color: var(--color-light);
}
.menu-bar-search {
    margin-top: 4.5625rem;
    width: 100%;
    height: 4.0625rem;
    position: relative;

}
.menu-bar-search input {
    width: 100%;
    height: 100%;
    padding: 0 4rem;
    outline: transparent;
    font: 400 1.125rem/1.36125rem var(--font-search);
    color: var(--color-light);
    background: var(--color-background-search);
    border-radius: 5px;
}
.menu-bar-search input::placeholder {
    font: 400 1.125rem/1.36125rem var(--font-search);
    color: var(--color-light);
    opacity: 0.5;
}
.menu-bar-search img {
    position: absolute;
    inset: 18px 0 0 17px;
}
.posts-container {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 6.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}
.post {
    padding: 1.5625rem;
    background: var(--color-light);
    box-shadow: 0px 0px 0.625rem rgba(19, 19, 31, 0.05);
    border-radius: 0.3125rem;
}
.post-status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-time {
    font: 400 1rem/1.25rem var(--font-text);
    color: var(--color-gray);
}
.post-content {
    margin-top: 1.25rem;
}
.post-title {
    font: 400 1.625rem/2rem var(--font-title);
    color: var(--color-gray-dark);
}
.post-paragraph {
    margin-top: 0.5rem;
    font: 400 1.125rem/2rem var(--font-text);
    color: var(--color-gray);
}

/* Responsive */
@media screen and (max-width: 680px) {
    nav {
        padding: 3rem 1.25rem;
    }
    .menu-top-bar  a {
        font: 400 1.125rem/1.40625rem var(--font-button);
    }
    .menu-bar-search {
        margin-top: 2.5625rem;
        height: 2.5rem;
    }
    .menu-bar-search input {
        padding: 0 2.375rem;
        font: 400 0.875rem/1.05875rem var(--font-button);
    }
    .menu-bar-search input::placeholder {
        font: 400 0.875rem/1.05875rem var(--font-search);
    }
    .menu-bar-search img {
        inset: 12.19px 0 0 9.19px;
        width: 15.63px;
    }
    .posts-container {
        padding: 3.125rem 1.25rem;
        gap: 1.5625rem;
    }
    .post {
        padding: 0.9375rem;
    }
    .post-time {
        font: 400 0.875rem/1.09375rem var(--font-text);
    }
    .post-content {
        margin-top: 1.75rem;
    }
    .post-title {
        font: 400 1.125rem/1.40625rem var(--font-title);
    }
    .post-paragraph {
        margin-top: 0.5625rem;
        font: 400 0.875rem/1.625rem var(--font-text);
    }
}