/*=============== GOOGLE FONTS =============*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS =============*/
:root {
    /*========== Colors =========*/
    --body-bg-color: rgb(34, 33, 44);
    --bg-cards: hsl(244, 13%, 21%);
    --bg-techs: hsl(327, 35%, 68%);

    --text-color: hsl(249, 15%, 56%);
    --title-color: hsl(249, 15%, 56%);

    /*========== Font and typography =========*/
    --text-font: 'Merriweather Sans', sans-serif;
    --title-font: 'Merriweather Sans', sans-serif;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 40px 40px 0 40px;
    height: 100%;
    
    background-color: var(--body-bg-color);

    display: grid;
    grid-template-areas:
        'aside main'
        'footer footer';
    gap: 20px 60px;
    justify-content: center;
    justify-items: center;
}

aside {
    grid-area: aside;
    grid-template-columns: repeat(auto-fit, minmax(auto, 348px));
    margin-left: 40px;

    display: grid;
    gap: 30px;
}

aside .profile, aside .social-links, aside .technologies, 
aside .experiences, aside .education, main .my-projects,
main .project, main .recent-posts, main .post {
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

aside .profile {
    width: 100%;
    height: 18.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .profile .avatar {
    width: 8rem;
    margin-top: 2rem;

}

aside .profile .avatar img {

    border: 2px solid #00FF00;
    border-radius: 50%;
}

aside .profile .profile-details {
    margin-top: 1.81rem;

    text-align: center;
}

aside .profile .profile-details h1 {
    font: 700 1.43rem/1.81rem var(--title-font);
    color: var(--title-color);
}

aside .profile .profile-details p {
    margin-top: 0.68rem;

    font: 300 0.81rem/1rem var(--text-font);
    color: var(--text-color);
}

aside .social-links {
    padding: 1.87rem 2.5rem;
}

aside .social-links ul {
    display: grid;
    gap: 1.25rem;
}

aside .social-links ul li a {
    display: flex;
    align-items: center;
    gap: 20px;

    font: 400 0.81rem/1rem var(--text-font);
    color: var(--text-color);
}

aside .technologies {
    padding: 1.87rem 1.25rem;
}

aside .technologies h2 {
    font: 700 1.25rem/1.56rem var(--title-font);
    color: var(--title-color);
}

aside .technologies .hashtag {
    margin: 1.25rem 0 0 0.62rem;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

aside .technologies .hashtag span {
    width: 5.37rem;
    padding: 7px 0;
    border-radius: 30px;

    font: 700 0.62rem/0.78rem var(--text-font);
    text-transform: uppercase;
    text-align: center;
    
    background: var(--bg-techs);
}

aside .experiences, 
aside .education {
    padding: 1.87rem 1.25rem;
    height: 349px;
}

aside .experiences > ul,
aside .education > ul {
    margin: 1.25rem 0 0 1.25rem;
}

aside .experiences > ul,
aside .education > ul {
    margin: 1.25rem 0 0 1.25rem;
}

aside .experiences > ul > li,
aside .education > ul > li {
    margin-top: 10px;
}


aside .experiences h2,
aside .education h2 {
    font: 700 1.25rem/1.56rem var(--title-font);
    color: var(--title-color);
}

aside .experiences .experiencie-list,
aside .education .education-list {
    position: relative;

    display: grid;
    gap: 4px;
}

aside .experiences .experiencie-list li:first-child,
aside .education .education-list li:first-child {
    font: 700 0.87rem/1.125rem var(--text-font);
    color: var(--text-color);
}
aside .experiences .experiencie-list li:first-child::before,
aside .education .education-list li:first-child::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -6px;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background: var(--text-color);
}

aside .experiences .experiencie-list li ~ li,
aside .education .education-list li ~ li {
    font: 300 0.75rem/0.93rem var(--text-font);
    color: var(--text-color);
    margin-left: 10px;
}