/*=============== GOOGLE FONTS =============*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS =============*/
:root {
    /*========== Colors =========*/
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    /*========== Font and typography =========*/
    --title-font: 'Merriweather Sans', sans-serif;
    --text-font: 'Merriweather Sans', sans-serif;

    /*========== Margenes =========*/
    --marge-0-25: .25rem;   /* 4px */
    --marge-0-5: .50rem;    /* 8px */
    --marge-1: 1rem;        /* 16px */
    --marge-1-5: 1.5rem;    /* 24px */
    --marge-1-8: 1.875rem;  /* 30px */
    --marge-2-5: 2.5rem;    /* 40px */
    --marge-3-7: 3.75rem;    /* 60px */
}

/*==================== BASE ====================*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--body-bg-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--marge-2-5);
    display: grid;
    grid-template-columns: 348px 1fr;
    column-gap: var(--marge-3-7);
}

aside, main {
    display: flex;
    flex-direction: column;
    gap: var(--marge-1-8);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.profile, .social-media,.technologies, .experiences, .education,
.my-projects, .project, .recent-posts, .post {
    display: flex;
    font-family: var(--text-font);
    color: var(--text-color);
    background: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.profile, .user-img, .user-info {
    display: flex;
    align-items: center;
}

.technologies, .experiences, .education {
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}
